* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition: background-color 0.7s;
}

window {
    background-color: #11111b;
}

button {
    background-color: #11111b;
    border-style: solid;
    border-color: transparent;    
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
    outline: none;                 
    box-shadow: none;
}

button:hover,
button:focus,
button:active {
    background-color: #cdd6f4;
}

#lock {
    background-image: url("/home/g/.config/assets/wlogout/assets/lock.png");
}
#lock:hover,
#lock:focus,
#lock:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/lock-hover.png");
}

#logout {
    background-image: url("/home/g/.config/assets/wlogout/assets/logout.png");
}
#logout:hover,
#logout:focus,
#logout:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/logout-hover.png");
}

#suspend {
    background-image: url("/home/g/.config/assets/wlogout/assets/sleep.png");
}
#suspend:hover,
#suspend:focus,
#suspend:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/sleep-hover.png");
}

#shutdown {
    background-image: url("/home/g/.config/assets/wlogout/assets/power.png");
}
#shutdown:hover,
#shutdown:focus,
#shutdown:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/power-hover.png");
}

#reboot {
    background-image: url("/home/g/.config/assets/wlogout/assets/restart.png");
}
#reboot:hover,
#reboot:focus,
#reboot:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/restart-hover.png");
}

#exit {
    background-image: url("/home/g/.config/assets/wlogout/assets/restart.png");
}
#exit:hover,
#exit:focus,
#exit:active {
    background-image: url("/home/g/.config/assets/wlogout/assets/restart-hover.png");
}