* {
    font-family: JetBrains Mono, Symbols Nerd Font;
    font-size: 24px;
    transition: background-color 0.7s;
}

window {
    background-color: #11111b;
}

button {
    background-color: #11111b;
    border-style: solid;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:hover,
button:active {
    background-color: #cdd6f4;
}

#lock {
    background-image: url("icons/lock.png");
}
#lock:hover {
    background-image: url("icons/lock-hover.png");
}

#logout {
    background-image: url("icons/logout.png");
}
#logout:hover {
    background-image: url("icons/logout-hover.png");
}

#suspend {
    background-image: url("icons/sleep.png");
}
#suspend:hover {
    background-image: url("icons/sleep-hover.png");
}

#shutdown {
    background-image: url("icons/power.png");
}
#shutdown:hover {
    background-image: url("icons/power-hover.png");
}

#reboot {
    background-image: url("icons/restart.png");
}
#reboot:hover {
    background-image: url("icons/restart-hover.png");
}

#exit {
    background-image: url("icons/restart.png");
}
#exit:hover {
    background-image: url("icons/restart-hover.png");
}
